* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 22px; }

:root {
  --primary-colour: #E95F46;
  --secondary-colour: #EDBD0A;
  --text-light: #DADADA;
  --text-color: #2D2D2D; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
  position: relative; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

.header-widget {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999; }
  .header-widget .container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-widget .container .logo {
      display: flex;
      align-items: center; }
      .header-widget .container .logo img {
        display: block;
        height: 65px; }
    .header-widget .container .navigation-widget {
      display: none;
      align-items: center;
      flex: 1;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 100%;
      z-index: 999; }
      .header-widget .container .navigation-widget .close-navigation {
        z-index: 999;
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #FAFAFA;
        background-color: transparent;
        outline: none;
        border: none;
        transition: ease-in-out .4s; }
        .header-widget .container .navigation-widget .close-navigation:hover {
          color: var(--primary-colour); }
      .header-widget .container .navigation-widget .nav-container {
        display: grid;
        grid-template-columns: 1fr 300px;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto; }
        .header-widget .container .navigation-widget .nav-container .nav-link-row {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .header-widget .container .navigation-widget .nav-container .nav-link-row ul {
            list-style-type: none;
            margin: 0;
            padding: 0; }
            .header-widget .container .navigation-widget .nav-container .nav-link-row ul li {
              margin-bottom: 20px; }
              .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a {
                font-weight: 600;
                font-size: 22px;
                color: #a1a1a1;
                transition: ease-in-out .4s; }
                .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a:hover, .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a.active {
                  color: var(--primary-colour); }
        .header-widget .container .navigation-widget .nav-container .nav-address-row {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .header-widget .container .navigation-widget .nav-container .nav-address-row .nav-logo {
            display: inline-block;
            margin-bottom: 20px;
            width: fit-content; }
            .header-widget .container .navigation-widget .nav-container .nav-address-row .nav-logo img {
              height: 140px; }
    .header-widget .container .call-btn {
      height: 45px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: var(--text-color);
      transition: ease-in-out .4s;
      position: relative;
      border-radius: 3px;
      border: solid 1px #ffffff; }
      .header-widget .container .call-btn svg {
        margin-right: 6px; }
      .header-widget .container .call-btn:hover {
        color: var(--primary-colour);
        border-color: var(--primary-colour); }
    .header-widget .container .nav-control {
      display: flex;
      align-items: center; }
      .header-widget .container .nav-control .get-in-touch {
        color: var(--primary-colour);
        font-size: 18px;
        font-weight: 400;
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--primary-colour);
        border-radius: 3px;
        transition: ease-in-out .4s; }
        .header-widget .container .nav-control .get-in-touch:hover {
          color: #fafafa;
          background-color: var(--primary-colour); }
      .header-widget .container .nav-control .hamburger {
        margin-left: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer; }

.footer-widget {
  padding: 35px 0 25px 0;
  background-color: #fff;
  border-bottom: solid 1px #D5D5D5; }
  .footer-widget .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px; }
    .footer-widget .container .about-content .footer-logo {
      display: inline-block;
      margin-bottom: 25px; }
      .footer-widget .container .about-content .footer-logo img {
        display: block; }
    .footer-widget .container .about-content strong {
      display: block;
      font-width: 500;
      font-size: 14px;
      color: #000000; }
    .footer-widget .container .about-content p {
      font-width: 400;
      font-size: 14px;
      color: var(--text-color); }
    .footer-widget .container .address-list {
      padding-top: 89px; }
      .footer-widget .container .address-list strong {
        display: block;
        font-width: 500;
        font-size: 14px;
        color: #000000;
        margin-bottom: 12px; }
      .footer-widget .container .address-list p {
        font-width: 400;
        font-size: 14px;
        color: #A8A8A8; }

.term-conditions {
  padding: 12px 0;
  border-bottom: solid 3px var(--primary-colour); }
  .term-conditions .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .term-conditions .container ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .term-conditions .container ul li a {
        font-weight: 400;
        font-size: 14px;
        color: #A8A8A8;
        transition: ease-in-out .4s; }
        .term-conditions .container ul li a:hover {
          color: var(--primary-colour); }
    .term-conditions .container p {
      font-size: 14px; }

.page-banner {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .page-banner .container {
    height: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .page-banner h1 {
    position: relative;
    font-size: 42px;
    font-width: 800;
    color: var(--text-color);
    padding-bottom: 22px;
    margin-bottom: 22px; }
    .page-banner h1:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 73px;
      height: 3px;
      border-radius: 3px;
      background-color: var(--primary-colour); }
  .page-banner p {
    font-weight: 400;
    font-size: 18px;
    color: #221429; }

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  top: -35px; }
  .breadcrumbs .container {
    display: flex;
    align-items: center; }
    .breadcrumbs .container .breadcrumbs-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 16px;
      margin-right: 13px;
      position: relative; }
      .breadcrumbs .container .breadcrumbs-list:after {
        position: absolute;
        right: 0;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--primary-colour); }
      .breadcrumbs .container .breadcrumbs-list.active-page {
        color: var(--primary-colour); }
      .breadcrumbs .container .breadcrumbs-list:last-child:after {
        display: none; }

.template-title {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color);
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .template-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 80px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--primary-colour); }

.inpit-list .input-ctrl, .inpit-list .select-ctrl {
  width: 100%;
  height: 45px;
  border: solid 1px #cccccc;
  padding: 0 15px;
  font-size: 14px;
  outline: none !important; }

@keyframes zoom-in {
  0% {
    width: 30%;
    height: 30%; }
  50% {
    width: 70%;
    height: 70%; }
  100% {
    width: 100%;
    height: 100%; } }
.career-widget {
  background-color: #FAFAFA;
  border-bottom: solid 1px #D3D3D3; }
  .career-widget .offer-grid {
    padding: 50px 0;
    column-gap: 16px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); }
    .career-widget .offer-grid .offer-list {
      padding: 25px 18px;
      border-radius: 6px;
      background-color: #F0EEED;
      transition: ease-in-out .4s; }
      .career-widget .offer-grid .offer-list img {
        margin-bottom: 24px; }
      .career-widget .offer-grid .offer-list strong {
        padding-bottom: 16px;
        margin-bottom: 18px;
        display: block;
        font-size: 20px;
        font-weight: 700;
        color: var(--text-color);
        position: relative; }
        .career-widget .offer-grid .offer-list strong:after {
          position: absolute;
          left: 0;
          bottom: 0;
          content: '';
          width: 80px;
          height: 3px;
          border-radius: 3px;
          background-color: var(--primary-colour); }
      .career-widget .offer-grid .offer-list:hover {
        box-shadow: 0 3px 5px 0 rgba(32, 33, 36, 0.2); }
  .career-widget hr {
    opacity: .1;
    background-color: var(--text-color); }
  .career-widget .current-opening {
    padding: 50px 0; }
    .career-widget .current-opening .container {
      column-gap: 15px;
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
      .career-widget .current-opening .container .opening-list {
        padding: 50px 20px;
        width: 100%;
        height: 255px;
        position: relative;
        display: block;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        border-bottom: solid 5px var(--primary-colour);
        transition: ease-in-out .4s; }
        .career-widget .current-opening .container .opening-list:after {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          content: '';
          width: 100%;
          height: 100%;
          background-color: #000000;
          opacity: .5; }
        .career-widget .current-opening .container .opening-list strong {
          position: relative;
          display: block;
          font-width: 700;
          font-size: 30px;
          padding-bottom: 22px;
          margin-bottom: 15px;
          color: #FAFAFA;
          z-index: 1; }
          .career-widget .current-opening .container .opening-list strong:before {
            position: absolute;
            left: 0;
            bottom: 0;
            content: '';
            width: 80px;
            height: 3px;
            border-radius: 3px;
            background-color: var(--primary-colour); }
        .career-widget .current-opening .container .opening-list p {
          color: #FAFAFA;
          position: relative;
          z-index: 1; }
        .career-widget .current-opening .container .opening-list .view-job {
          margin-top: 18px;
          position: relative;
          z-index: 1;
          font-weight: 600;
          font-size: 14px;
          color: #fafafa;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100px;
          height: 35px;
          border-radius: 30px;
          border: solid 1px var(--primary-colour);
          transition: ease-in-out .4s; }
        .career-widget .current-opening .container .opening-list:hover {
          box-shadow: 0 3px 5px 0 rgba(32, 33, 36, 0.2); }
          .career-widget .current-opening .container .opening-list:hover .view-job {
            background-color: var(--primary-colour); }

.career-opening {
  padding-bottom: 40px; }
  .career-opening .template-title {
    margin-bottom: 25px; }
  .career-opening strong {
    display: block;
    font-weight: 700;
    font-size: 18px;
    color: var(--text-color);
    margin-bottom: 20px; }
  .career-opening ul {
    padding-left: 18px; }
    .career-opening ul li {
      line-height: 38px;
      color: var(--text-color);
      opacity: .72; }
  .career-opening p {
    line-height: 38px;
    color: var(--text-color);
    opacity: .72; }

.career-form {
  padding: 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  border-bottom: solid 1px #e4e4e4; }
  .career-form .template-title {
    margin-bottom: 30px; }
  .career-form .form-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 12px; }
    .career-form .form-row .inpit-list {
      padding: 0 0px;
      position: relative;
      margin-bottom: 16px; }
      .career-form .form-row .inpit-list .upload-input {
        line-height: 40px;
        border-color: #E2E2E2;
        border-radius: 3px;
        background-color: #FAFAFA; }
      .career-form .form-row .inpit-list .input-ctrl {
        border-color: #E2E2E2;
        border-radius: 3px; }
      .career-form .form-row .inpit-list .select-ctrl {
        border-color: #E2E2E2;
        border-radius: 3px; }
      .career-form .form-row .inpit-list .upload-label {
        cursor: pointer;
        padding: 0 17px 0 15px;
        display: flex;
        align-items: center;
        height: 45px;
        font-size: 16px;
        color: #fafafa;
        position: absolute;
        left: 0;
        top: 0;
        background-color: var(--primary-colour);
        -webkit-border-top-left-radius: 3px;
        -webkit-border-bottom-left-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-bottomleft: 3px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px; }
    .career-form .form-row .form-submit {
      cursor: pointer;
      border-radius: 3px;
      color: #FAFAFA;
      font-weight: 500;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 200px;
      height: 45px;
      background-color: var(--primary-colour);
      transition: ease-in-out .4s;
      border: none; }
      .career-form .form-row .form-submit:hover {
        background-color: #d2472e; }

/*# sourceMappingURL=career-style.css.map */
