*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.container{
    margin: 0 auto;
    width:100%;
    max-width: 1440px;
    position:relative;

}

.banner-section {
    background-image: url("../images/download-banner.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}
.banner-content {
    color: #ffff;
    display: flex;
    flex-direction: column;
    row-gap: 45px;
    padding-top: 200px;
    padding-left: 70px;


}
.banner-content strong {
    font-size: 35px;
    font-family: manpore;
}

.banner-content span {
    font-size: 18px;
    font-family: manpore;
}
.banner-bottom-line{
    margin-top: 67px;
    padding: 5px;
    background: #F0F0F0;
    padding-left: 70px;
    font-size: 16px;
}

.download-list {
    display: grid;
    grid-template-columns: repeat(4, 310px);
    padding: 50px 55px;
    column-gap: 15px;
    row-gap: 15px;
    background: #FAFAFA;
}


.list-1 {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: solid 1px;
    background: #FAFAFA;
    border: none;
    /* gap: 10px; */
    /* column-gap: 10px; */
    box-shadow: 0 20px 30px 0 rgb(0 0 0 / 10%);
}


.list-1 span {
    font-family: manpore;
    font-size: 16px;
    line-height: 20px;
}

.list-1 button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 140px;
    height: 40px;
    border: solid 1px;
    border-radius: 25px;
    background: none;
    color: #E95F46;
    border-color: #E95F46;
}