* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 22px; }

:root {
  --primary-colour: #E95F46;
  --secondary-colour: #EDBD0A;
  --text-light: #DADADA;
  --text-color: #2D2D2D; }

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
  position: relative; }

a {
  text-decoration: none; }

body {
  margin: 0;
  padding: 0;
  position: relative; }

.header-widget {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999; }
  .header-widget .container {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .header-widget .container .logo {
      display: flex;
      align-items: center; }
      .header-widget .container .logo img {
        display: block;
        height: 65px; }
    .header-widget .container .navigation-widget {
      display: none;
      align-items: center;
      flex: 1;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 100%;
      z-index: 999; }
      .header-widget .container .navigation-widget .close-navigation {
        z-index: 999;
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #FAFAFA;
        background-color: transparent;
        outline: none;
        border: none;
        transition: ease-in-out .4s; }
        .header-widget .container .navigation-widget .close-navigation:hover {
          color: var(--primary-colour); }
      .header-widget .container .navigation-widget .nav-container {
        display: grid;
        grid-template-columns: 1fr 300px;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto; }
        .header-widget .container .navigation-widget .nav-container .nav-link-row {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .header-widget .container .navigation-widget .nav-container .nav-link-row ul {
            list-style-type: none;
            margin: 0;
            padding: 0; }
            .header-widget .container .navigation-widget .nav-container .nav-link-row ul li {
              margin-bottom: 20px; }
              .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a {
                font-weight: 600;
                font-size: 22px;
                color: #a1a1a1;
                transition: ease-in-out .4s; }
                .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a:hover, .header-widget .container .navigation-widget .nav-container .nav-link-row ul li a.active {
                  color: var(--primary-colour); }
        .header-widget .container .navigation-widget .nav-container .nav-address-row {
          display: flex;
          flex-direction: column;
          justify-content: center; }
          .header-widget .container .navigation-widget .nav-container .nav-address-row .nav-logo {
            display: inline-block;
            margin-bottom: 20px;
            width: fit-content; }
            .header-widget .container .navigation-widget .nav-container .nav-address-row .nav-logo img {
              height: 140px; }
    .header-widget .container .call-btn {
      height: 45px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: var(--text-color);
      transition: ease-in-out .4s;
      position: relative;
      border-radius: 3px;
      border: solid 1px #ffffff; }
      .header-widget .container .call-btn svg {
        margin-right: 6px; }
      .header-widget .container .call-btn:hover {
        color: var(--primary-colour);
        border-color: var(--primary-colour); }
    .header-widget .container .nav-control {
      display: flex;
      align-items: center; }
      .header-widget .container .nav-control .get-in-touch {
        color: var(--primary-colour);
        font-size: 18px;
        font-weight: 400;
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--primary-colour);
        border-radius: 3px;
        transition: ease-in-out .4s; }
        .header-widget .container .nav-control .get-in-touch:hover {
          color: #fafafa;
          background-color: var(--primary-colour); }
      .header-widget .container .nav-control .hamburger {
        margin-left: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer; }

.footer-widget {
  padding: 35px 0 25px 0;
  background-color: #fff;
  border-bottom: solid 1px #D5D5D5; }
  .footer-widget .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 12px; }
    .footer-widget .container .about-content .footer-logo {
      display: inline-block;
      margin-bottom: 25px; }
      .footer-widget .container .about-content .footer-logo img {
        display: block; }
    .footer-widget .container .about-content strong {
      display: block;
      font-width: 500;
      font-size: 14px;
      color: #000000; }
    .footer-widget .container .about-content p {
      font-width: 400;
      font-size: 14px;
      color: var(--text-color); }
    .footer-widget .container .address-list {
      padding-top: 89px; }
      .footer-widget .container .address-list strong {
        display: block;
        font-width: 500;
        font-size: 14px;
        color: #000000;
        margin-bottom: 12px; }
      .footer-widget .container .address-list p {
        font-width: 400;
        font-size: 14px;
        color: #A8A8A8; }

.term-conditions {
  padding: 12px 0;
  border-bottom: solid 3px var(--primary-colour); }
  .term-conditions .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .term-conditions .container ul {
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .term-conditions .container ul li a {
        font-weight: 400;
        font-size: 14px;
        color: #A8A8A8;
        transition: ease-in-out .4s; }
        .term-conditions .container ul li a:hover {
          color: var(--primary-colour); }
    .term-conditions .container p {
      font-size: 14px; }

.page-banner {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%; }
  .page-banner .container {
    height: 100%;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
  .page-banner h1 {
    position: relative;
    font-size: 42px;
    font-width: 800;
    color: var(--text-color);
    padding-bottom: 22px;
    margin-bottom: 22px; }
    .page-banner h1:after {
      position: absolute;
      left: 0;
      bottom: 0;
      content: '';
      width: 73px;
      height: 3px;
      border-radius: 3px;
      background-color: var(--primary-colour); }
  .page-banner p {
    font-weight: 400;
    font-size: 18px;
    color: #221429; }

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.25);
  top: -35px; }
  .breadcrumbs .container {
    display: flex;
    align-items: center; }
    .breadcrumbs .container .breadcrumbs-list {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-right: 16px;
      margin-right: 13px;
      position: relative; }
      .breadcrumbs .container .breadcrumbs-list:after {
        position: absolute;
        right: 0;
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: var(--primary-colour); }
      .breadcrumbs .container .breadcrumbs-list.active-page {
        color: var(--primary-colour); }
      .breadcrumbs .container .breadcrumbs-list:last-child:after {
        display: none; }

.template-title {
  font-size: 24px;
  font-weight: 800;
  color: var(--text-color);
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 40px; }
  .template-title:after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: '';
    width: 80px;
    height: 3px;
    border-radius: 3px;
    background-color: var(--primary-colour); }

.inpit-list .input-ctrl, .inpit-list .select-ctrl {
  width: 100%;
  height: 45px;
  border: solid 1px #cccccc;
  padding: 0 15px;
  font-size: 14px;
  outline: none !important; }

@keyframes zoom-in {
  0% {
    width: 30%;
    height: 30%; }
  50% {
    width: 70%;
    height: 70%; }
  100% {
    width: 100%;
    height: 100%; } }
.banner-widget {
  padding-top: 70px; }
  .banner-widget .container {
    display: flex; }
    .banner-widget .container .banner-content {
      flex: 1;
      display: flex;
      align-items: center; }
      .banner-widget .container .banner-content h1 {
        color: #221429;
        font-weight: 700;
        font-size: 42px; }
        .banner-widget .container .banner-content h1 span {
          margin-top: 35px;
          display: block;
          color: var(--primary-colour);
          font-weight: 700;
          font-size: 42px; }
    .banner-widget .container .banner-img {
      padding: 50px 0;
      max-width: 585px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative; }
      .banner-widget .container .banner-img .play-button {
        position: absolute;
        width: 90px;
        height: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%; }
        .banner-widget .container .banner-img .play-button:after {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: var(--primary-colour);
          opacity: .5;
          animation: zoom-in 2.5s ease-out infinite; }
        .banner-widget .container .banner-img .play-button:before {
          position: absolute;
          content: '';
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background-color: var(--primary-colour);
          opacity: .2;
          animation: zoom-in 2s ease-out infinite; }
        .banner-widget .container .banner-img .play-button svg {
          position: relative;
          z-index: 1; }
      .banner-widget .container .banner-img img {
        display: block;
        width: 100%;
        border-radius: 16px;
        box-shadow: 0 2px 60px 5px rgba(0, 0, 0, 0.22); }
  .banner-widget .bottom-line {
    padding: 18px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #F0EEED; }
    .banner-widget .bottom-line .btm-col-1 {
      display: flex;
      align-items: center; }
      .banner-widget .bottom-line .btm-col-1 div {
        width: 200px;
        padding-left: 16px;
        display: flex;
        flex-direction: column;
        border-left: solid 2px var(--primary-colour); }
        .banner-widget .bottom-line .btm-col-1 div strong {
          font-weight: 700;
          font-size: 24px;
          color: var(--text-color);
          margin-bottom: 6px; }
        .banner-widget .bottom-line .btm-col-1 div span {
          font-weight: 400;
          font-size: 18px;
          color: var(--text-color);
          opacity: .7; }
    .banner-widget .bottom-line .socialmedia {
      margin-left: auto;
      display: flex;
      align-items: center; }
      .banner-widget .bottom-line .socialmedia .socialmedia-link {
        margin-left: 6px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 3px;
        background-color: #2D2D2D;
        transition: ease-in-out .4s; }
        .banner-widget .bottom-line .socialmedia .socialmedia-link:hover {
          background-color: var(--primary-colour); }

.dep-widget {
  padding: 50px 0 80px 0;
  border-bottom: solid 5px var(--primary-colour); }
  .dep-widget .department-list {
    display: flex;
    flex-direction: column;
    margin: 0 10px; }
    .dep-widget .department-list .dep-img {
      display: block;
      margin-bottom: 25px; }
    .dep-widget .department-list .dep-content {
      padding-left: 12px;
      border-left: solid 3px var(--primary-colour); }
      .dep-widget .department-list .dep-content p {
        font-size: 16px;
        font-weight: 400;
        color: var(--text-color); }
    .dep-widget .department-list .slick-slide {
      margin: 0 5px; }
    .dep-widget .department-list .slick-list {
      margin: 0px -5px 0px -5px; }

.career-widget {
  padding-top: 135px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background-color: #020305; }
  .career-widget .career-title h3 {
    font-size: 34px;
    line-height: 60px;
    font-weight: 400;
    color: var(--primary-colour); }
  .career-widget .career-title h2 {
    color: #FAFAFA;
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    display: block; }
  .career-widget .career-title .explore-btn {
    margin-top: 45px;
    color: #fafafa;
    font-weight: 700;
    border: solid 1px var(--primary-colour);
    border-radius: 30px;
    width: 195px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .4s; }
    .career-widget .career-title .explore-btn:hover {
      background-color: var(--primary-colour); }
  .career-widget .career-carosal-row {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 16px; }
    .career-widget .career-carosal-row .carosal-container {
      max-width: 650px;
      max-width: 650px;
      position: relative;
      right: -10px; }
      .career-widget .career-carosal-row .carosal-container .career-carosal {
        display: flex;
        align-items: center; }
      .career-widget .career-carosal-row .carosal-container .carosal-list {
        padding: 0 10px; }
        .career-widget .career-carosal-row .carosal-container .carosal-list img {
          display: block;
          width: 100%; }
      .career-widget .career-carosal-row .carosal-container .slide-nav {
        display: inline-block;
        width: 35px;
        height: 35px;
        background-color: transparent;
        outline: none;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer; }
      .career-widget .career-carosal-row .carosal-container .slide-nav-prev {
        display: none !important; }

/*# sourceMappingURL=home-style.css.map */
