*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  line-height: 22px;
}
:root{
  --primary-colour: #E95F46;
  --secondary-colour: #EDBD0A;
  --text-light: #DADADA;
  --text-color: #2D2D2D;
}
.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1290px;
  position: relative;
}
a{
  text-decoration: none;
}
body{
  margin: 0;
  padding: 0;
  position: relative;
}
.header-widget{
  .container{
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo{
      display: flex;
      align-items: center;
      img{
        display: block;
        height: 65px;
      }
    }
    .navigation-widget{
      display: none;
      align-items: center;
      flex: 1;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #000;
      width: 100%;
      height: 100%;
      z-index: 999;
      .close-navigation{
        z-index: 999;
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 20px;
        top: 20px;
        color: #FAFAFA;
        background-color: transparent;
        outline: none;
        border: none;
        transition: ease-in-out .4s;
        &:hover{
          color: var(--primary-colour);
        }
      }
      .nav-container{
        display: grid;
        grid-template-columns: 1fr 300px;
        position: relative;
        width: 100%;
        height: 100%;
        max-width: 1000px;
        margin: 0 auto;
        .nav-link-row{
          display: flex;
          flex-direction: column;
          justify-content: center;
          ul{
            list-style-type: none;
            margin: 0;
            padding: 0;
            li{
              margin-bottom: 20px;
              a{
                font-weight: 600;
                font-size: 22px;
                color: #a1a1a1;
                transition: ease-in-out .4s;
                &:hover, &.active{
                  color: var(--primary-colour);
                }
              }
            }
          }
        }
        .nav-address-row{
          display: flex;
          flex-direction: column;
          justify-content: center;
          .nav-logo{
            display: inline-block;
            margin-bottom: 20px;
            width: fit-content;
            img{
                height: 140px;
            }
          }

        }
      }
    }
    .call-btn{
      height: 45px;
      padding: 0 15px;
      display: flex;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      color: var(--text-color);
      transition: ease-in-out .4s;
      position: relative;
      border-radius: 3px;
      border: solid 1px #ffffff;
      svg{
        margin-right: 6px;
      }
      &:hover{
        color: var(--primary-colour);
        border-color: var(--primary-colour);
      }
    }
    .nav-control{
      display: flex;
      align-items: center;
      .get-in-touch{
        color: var(--primary-colour);
        font-size: 18px;
        font-weight: 400;
        width: 140px;
        height: 45px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: solid 1px var(--primary-colour);
        border-radius: 3px;
        transition: ease-in-out .4s;
        &:hover{
          color: #fafafa;
          background-color: var(--primary-colour);
        }
      }
      .hamburger{
        margin-left: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border: none;
        background-color: transparent;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
.footer-widget{
  padding: 35px 0;
  background-color: #fff;
  border-bottom: solid 1px #D5D5D5;
    .container{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      column-gap: 12px;
      .about-content{
        .footer-logo{
          display: inline-block;
          margin-bottom: 25px;
          img{
            display: block;
          }
        }
        strong{
          display: block;
          font-width: 500;
          font-size: 14px;
          color: #000000;
        }
        p{
          font-width: 400;
          font-size: 14px;
          color: var(--text-color);
        }
      }
      .address-list{
        padding-top: 89px;
        strong{
          display: block;
          font-width: 500;
          font-size: 14px;
          color: #000000;
          margin-bottom: 12px;
        }
        p{
          font-width: 400;
          font-size: 14px;
          color: #A8A8A8;
        }
      }
    }
}
.term-conditions{
  padding: 12px 0;
  border-bottom: solid 2px var(--primary-colour);
  .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    ul{
      display: flex;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      li{
        a{
          font-weight: 400;
          font-size: 14px;
          color: #A8A8A8;
          transition: ease-in-out .4s;
          &:hover{
            color: var(--primary-colour);
          }
        }
      }
    }
    p{
      font-size: 14px;
    }
  }
}

@keyframes zoom-in {
  0% {
    width: 30%;
    height: 30%;
  }
  50% {
    width: 70%;
    height: 70%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}